README
LICENSE
_vmake
_info
msim_transcript
*.ammdb
*.bak
*.bak1
*.bak2
*.bpm
*.cdb
*.db_info
*.ddb
*.dfp
*.do
*.done
*.dpi
*.hb_info
*.hdb
*.hier_info
*.hif
*.hsd
*.html
*.idb
*.ini
*.jdi
*.kpt
*.logdb
*.qdb
*.qmsg
*.qpg
*.qtl
*.qws
*.rcfdb
*.rdb
*.rpt
*.sci
*.sft
*.sig
*.sld
*.smsg
*.sof
*.summary
*.tdb
*.tmw_info
*.txt
*.vo
*.xml
*.xrf
